/* Dark theme */

[data-theme="dark"] {
    background-color: var(--bs-dark) !important;
    color: var(--bs-light) !important;
}
[data-theme="dark"] li {
    background: var(--bs-dark) !important;
    border-color: #444444 !important;
    color: var(--bs-light) !important;
}
[data-theme="dark"] input {
    background: var(--bs-dark) !important;
    border-color: #444444 !important;
    color: var(--bs-light) !important;
}
[data-theme="dark"] select {
    background: var(--bs-dark) !important;
    border-color: #444444 !important;
    color: var(--bs-light) !important;
}

/* Header */

.center-text
{
    display: flex;
    justify-content: center;
    align-items: center;
}

main { height: calc(100vh - 3em); }
body > header
{
    height: 3em;
    color: white;

    background-color: #24292E;
    position: relative;

    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.4);
}

header i:hover { color: #fff; }
header > #right { right: 15px; }
header > #left { left: 15px; }
#profile-img { border-radius: 50%; cursor: pointer; }

/* Separator */

hr
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Lists */

.pannel { padding: 10px }
.pannel>ul { padding-left: 0; }

h3 { position: relative; }

.header-button
{
    position: absolute;
    right: 0px;
    width: 29px;
    height: 29px;
    padding-top: 7px;
    padding-left: 7px;
    font-size: large;
}

.deletable-list .close
{
    position: absolute;
    right: -1px;
    top: -12px;
    font-size: 20px;
    display: none;
}
.deletable-list:hover .close { display: block; }

.nav-tabs { border-bottom: 0px; }
.nav-item { cursor: pointer; }

#function_list > li { padding: 0; margin-bottom:8px;}

/* Misc. */

i { cursor: pointer; color: #ccc; }
i:hover { color: #aaa; }
.single-line { display: flex; flex-direction: row; }
.lut-canvas:hover { filter: brightness(70%); }
#sliders form input { width: 20%; height: 1.5rem; }

.dropdown-toggle { text-align: left; display: flex; justify-content: space-between; }
.dropdown-toggle:after { margin-top: 8px; margin-left: 8px; }
.dropdown-toggle:focus { pointer-events: none; }
.dropdown-toggle:focus + .dropdown-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.dropdown-menu {
    opacity: 0;
    display: block;
    visibility: hidden;
    transition: visibility 0.5s;
}

.close
{
    color: #aaaaaa;
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 30px;
}
.close:hover, .close:focus
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close2
{
    color: #aaaaaa;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    line-height: 1;
    padding: .75rem 1.25rem;
}
.close2:hover, .close2:focus
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.table {
	display: block;
	overflow-x: auto;
}

/* Editor */

.line-editor {
    font-size: 20px;
    outline: 1px solid #ced4da;
    border-radius: 0.25rem;
}

body .ace_scrollbar { display: none; }
body .ace_editor:hover .ace_scrollbar { display: block; }

.editor-container {
  position: relative;
  height: 400px; /* initial height */
  width: 100%;
  border: 1px solid #ccc;
}

.function-editor {
  height: calc(100% - 10px);
}

.resize-handle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #ccc;
  cursor: ns-resize;
}

/* Modal */

#modal
{
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content
{
    padding: 15px 40px 55px;
    background-color: #fefefe;
    position: absolute;
    width: max-content;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, 0px);
}

/* Drawer */

#drawer
{
    position: fixed;
    top: 0;
    left:-300px;
    height: 100%;
    width: 300px;
    background-color: #24292E;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
    transition: left .5s;
    margin-top: 3em;
    color: white;
}

#drawer ul { padding-left: 0; }

#drawer li
{
    background-color: #24292E;
    border-color: #999999 !important;
    color: white;
    cursor: pointer
}

#drawer .close:hover { color: white; }

#drawer[project-drawer="opened"] { left: 0px; }
main[project-drawer="opened"] { transform: translate(300px, 0px); overflow-x: hidden; }
main { transition: transform .5s; }


/* Footer */

.tab-bar
{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
	width: auto;
}
